html {
    width: 100%; 
    height: 100%; 
    padding: 0; 
    margin: 0;
}

body {
    width: 100%; 
    height: 100%; 
    background-size: 100%;
    /*background-color:#86C67C;*/
    background-color:#35373b;
    
    position: relative; 
    padding: 0; 
    margin: 0;
}


h1 {
    color:#ffffff;
    font-family: 'Montserrat',verdana,arial,sans-serif;
}

#canvas {
      /*z-index: -100000;*/
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
    text-align: center;
    z-index: 1;

}